[submodule "packages/paymaster-contracts/lib/account-abstraction"]
	path = packages/paymaster-contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "packages/paymaster-contracts/lib/openzeppelin-contracts"]
	path = packages/paymaster-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/paymaster-contracts/lib/forge-std"]
	path = packages/paymaster-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/paymaster-contracts/lib/pimlico-singleton-paymaster"]
	path = packages/paymaster-contracts/lib/pimlico-singleton-paymaster
	url = https://github.com/pimlicolabs/singleton-paymaster
[submodule "packages/paymaster-contracts/lib/solady"]
	path = packages/paymaster-contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "packages/paymaster-contracts/lib/account-abstraction-v6"]
	path = packages/paymaster-contracts/lib/account-abstraction-v6
	url = https://github.com/eth-infinitism/account-abstraction
