@import "tailwindcss";

@theme {
  --color-taiko-50: #ffe7f6;
  --color-taiko-100: #ffc6e9;
  --color-taiko-200: #ff6fc8;
  --color-taiko-300: #e81899;
  --color-taiko-400: #c8047d;
  --color-taiko-500: #a00064;

  --color-surface-0: #050912;
  --color-surface-50: #0b101b;
  --color-surface-100: #191e28;
  --color-surface-200: #2b303b;
  --color-surface-300: #444a55;
  --color-surface-400: #5d636f;
  --color-surface-500: #767c89;
  --color-surface-600: #91969f;
  --color-surface-700: #adb1b8;
  --color-surface-800: #cacbce;
  --color-surface-900: #f3f3f3;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-jetbrains-mono), "Fira Code", ui-monospace, monospace;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-taiko-300);
  color: white;
}
